@import 'kouto-swiss'
@import 'https://fonts.googleapis.com/css?family=Fira+Sans:300,500,600'
@font-face
    font-family 'Aleo'
    src url('aleo-light-webfont.woff2') format('woff2'),
        url('aleo-light-webfont.woff') format('woff')
    font-weight 300
    font-style normal
@font-face
    font-family 'Aleo'
    src url('aleo-regular-webfont.woff2') format('woff2'),
        url('aleo-regular-webfont.woff') format('woff')
    font-weight normal
    font-style normal

normalize()

*
*:after
*:before
    box-sizing border-box

::selection
    background #FBAE1A
    color #222

::-moz-selection
    background #FBAE1A
    color #222

fira($size, $weight = normal)
    font-size $size + 0px
    font-family 'Fira Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 300
    if $weight == medium
        font-weight 500
    if $weight == semi
        font-weight 600

aleo($size, $weight = normal)
    font-size $size + 0px
    font-family 'Aleo', 'Georgia', 'Times New Roman', serif
    font-weight 400
    if $weight == light
        font-weight 300

.center
    width 960px
    position relative
    margin 0 auto
    clearfix()
    +below(1060px)
        width 90%

.redes-sociais
    height 45px
    background #000
    .center
        clearfix()
        height 100%
    a
        display block
        float left
        width 25px
        height 100%
        margin-right 8px
        opacity .6
        transition opacity .3s
        &:hover
            opacity 1
        &.facebook
            background url('facebook.png') no-repeat center
        &.instagram
            background url('instagram.png') no-repeat center

.main
    overflow hidden
    height 574px
    .center
        clearfix()
        position relative
    .texto
        width 55%
        float left
        padding-top 45px
        h2
            fira 16 semi
            margin 0
        h1
            aleo 35 light
            margin .8em 0 1.2em
            line-height 1.2
            strong
                font-weight 400
        p
            fira 15
            max-width 445px
            margin 0
            line-height 1.5
    .xicara
        width 45%
        float left
        img
            float left
            display block
    +below(1060px)
        min-height 400px
        height auto
        .texto
            padding-top 35px
            h2
                font-size 15px
            h1
                font-size 30px
                margin-bottom .8em
            p
                font-size 14px
                padding-right 35px
        .xicara
            img
                height 400px
    +below(768px)
        height auto
        .texto
            width 100%
            padding 25px 0
            h2
                font-size 14px
            h1
                font-size 26px
                margin-bottom .6em
                br
                    display none
        .xicara
            width 100%
            position relative
            &:before
            &:after
                content ''
                position absolute
                top 0
                left -300px
                background #FBAE1A
                width 300px
                height 220px
                z-index -1
            &:after
                left auto
            img
                height 301px

.footer
    margin-top -22px
    padding-bottom 50px
    .marca
        position relative
        width 100%
        height 84px
        margin 0 0 50px
        background url('treviolo.png') no-repeat center
        &:before
        &:after
            content ''
            position absolute
            width calc('50% - 200px')
            height 2px
            background #222
            top 22px
        &:before
            left 0
        &:after
            right 0
    p
        display block
        text-align center
        margin 0
        &.endereco
            fira 12 medium
            line-height 1.5
            a
                color #000
                text-decoration none
                transition color .3s
                &:hover
                    color #FBAE1A
        &.copyright
            fira 11 medium
            margin-top 35px
    +below(1060px)
        margin-top 35px
    +below(768px)
        padding-bottom 30px
        margin-top -15px
        .marca
            margin-bottom 25px
            background-size auto 90%
            &:before
            &:after
                top 24px
                width calc('50% - 115px')
        p.copyright
            margin-top 20px
            span
                display block
                font-size 0
